{{application-header}}

<div class="column">
  <div class="control-panel">
    {{directory-picker dirs=dirs addDir="addDir"}}

    {{direct-lyric-search
      artist=(mut searchArtist)
      title=(mut searchTitle)
      searchLyrics="searchLyrics"
      setLyrics="setLyrics"
    }}

    {{search-bar query=(mut query)}}
  </div>

  {{search-results results=searchResults getLyrics="getLyrics"}}

</div>

<div class="column lyrics">
  {{#if lyrics}}
    <h5>
      <pre>{{lyrics}}</pre>
    </h5>
  {{/if}}
</div>

{{outlet}}
