{{nav-bar}}

<div class="column">
  {{outlet}}
</div>

<div class="column lyrics">
  {{#if lyrics}}
    <h3>{{lyricsArtist}} - {{lyricsTitle}}</h3>
    <h5>
      <pre>{{lyrics}}</pre>
    </h5>
  {{/if}}
</div>

