{{#each list as |file|}}
<div class="file-listing">
  <a href="#" {{action 'download' file}}>{{fa-icon 'download'}}</a>
  {{file.artist}} - {{file.title}}
  <small><i>{{file.album}}</i></small>
</div>
{{/each}}

{{#if remainingLength}}
<button class="btn btn-primary-outline btn-sm" {{action 'increaseLimit'}}>{{remainingLength}} more results</button>
{{/if}}
